{% extends 'base.html' %}

{% block title %} Blogly {% endblock %}

{% block content %}

<div>
<p>
{{post.title}}
</p>
<p>
{{post.content}}
</p>

By {{post.user.full_name}}

{% if post.tags %}
<b>Tags:</b>
{% for tag in post.tags %}
<span>
  <a href="/tags/{{tag.id}}">{{tag.name}}</a>
</span>
{% endfor %}
{% endif %}

<form action="/users/{{post.user_id}}">
  <button>Cancel</button>
</form>

<form action="/posts/{{post.id}}/edit">
  <button>Edit</button>
</form>

<form action="/posts/{{post.id}}/delete" method="POST">
  <button>Delete</button>
</form>
</div>


{% endblock %}