{% extends 'base.html' %}

{% block title %} Blogly {% endblock %}

{% block content %}

<h2>Edit Post</h2>
<form action="/posts/{{post.id}}/edit" method="POST">
  <p>
    <label for="">Title</label>
    <br>
    <input type="text" size="50" name="title" value="{{post.title}}">
  </p>

  <p>
    <label for="">Content</label>
    <br>
    <input type="text" size="50" name="content" value="{{post.content}}">
  </p>

  {% for tag in tags %}
  <p>
    <input type="checkbox" value="{{tag.id}}" {% if tag in post.tags %}checked{% endif %} name="tags">
    <label for="">{{ tag.name }}</label>
  </p>
  {% endfor %}
  <p>
    <input type="submit" value="Edit">
  </p>
</form>

<form action="/users/{{post.user.id}}">
  <button>Cancel</button>
</form>
{% endblock %}