{% extends 'base.html' %}

{% block title %} Blogly {% endblock %}

{% block content %}

<h2>Edit Post</h2>
<form action="">
  <p>
    <label for="">Title</label>
    <br>
    <input type="text" size="50" name="title" placeholder="{{post.title}}">
  </p>
  
  <p>
    <label for="">Content</label>
    <br>
    <input type="text" size="50" name="content" placeholder="{{post.content}}">
  </p>

  <input type="submit" value="Add">
</form>

<form action="">
  <button>Cancel</button>
</form>
{% endblock %}