{% extends 'base.html' %}

{% block content %}

<img src="{{user.image_url}}" width="200" height="200">
<h2>{{user.full_name}}</h2>
<form action="/users/{{user.id}}/edit">
  <button>Edit</button>
</form>

<form action="/users/{{user.id}}/delete">
  <button>Delete</button>
</form>

<h3>Posts</h3>
<ul>
  {% for post in user.posts %}
  <li>
    <a href="/posts/{{post.id}}">
      {{post.title}}
    </a>
  </li>
  {% endfor %}
</ul>

<form action="/users/{{user.id}}/posts/new">
  <button>Add Post</button>
</form>

{% endblock %}
